<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css"> <!-- linking our stylesheet to our page -->
</head>

<body>
    {{>header}}
    <p>Help message is : {{message}}</p>

    {{>footer}}
</body>

</html>